{% extends 'base.html' %}
{% load static %}
{% load own_filters %}
{% block head_block %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//mozilla.github.io/pdf.js/build/pdf.js"></script>
    <link rel="stylesheet" href="{% static 'css/note_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body_block %}
        <nav>

        <div id="navig-div">
            <a href="{% url 'index' %}" id="logo-a"><img src="{%static "images/cover.svg"%}" width="370" id='logo'></a>
            <div id="navig-links">
                <a href="#">Find notes</a>
                <a href="{% url 'profile' pk=note.author.pk %}">Go back</a>
            </div>
        </div>
    </nav>
    <div id="main_container">
        <div id="note_div">
            <div id="note_header">
                    <h1 id="note_title">{{note.title}}</h1>
            </div>
            <div id="note_info">
                <p>Author: {{ note.author }}</p>
                <p>Category: {{ note.category }}</p>
                <p>Rating: <span id="note_rate">
                {% with ''|center:note.rating as range %}
                {% if note.rating != 0 %}
                {% for rate in range %}
                <i class="fas fa-star current_rate_star"></i>
                {% endfor %}
                {% else %}
                No rating
                {% endif %}
                {% endwith %}
                </span>
                </p>
            </div>
            <div id="note_content">
                    <h2>PDF Preview</h2>
                    <button id="prev">Previous</button>
                    <button id="next">Next</button>
                    &nbsp; &nbsp; <br>
                    <canvas id="the-canvas"></canvas> <br>
                    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
               {% if user.username == note.author.username%}
                <form method="POST" action='{% url 'notes:delete_note' slug=note.slug %}'>
                    {% csrf_token %}
                    <button type="submit" id="delete"><i class="fas fa-trash-alt"></i></button>
                </form>
            {% endif %}
            </div>
              </div>
        {%if user.is_authenticated%}
          <div id="rate_div">        <h2>Rate me:</h2>
            <div class="rating">
              <span class="rating__result"></span>
           {% with ''|center:user_rate as colored_stars %}
               {% for star in colored_stars %}
               <i class="rating__star fas fa-star"></i>
               {% endfor %}
           {% endwith %}
            {% with user_rate|calculate_stars as uncolored_stars %}
            {% with ''|center:uncolored_stars as uncolored_stars %}
                {% for star in uncolored_stars %}
                <i class="rating__star far fa-star"></i>
                {% endfor %}
            {% endwith %}
            {% endwith %}
            {% endif %}
          </div>
              {% if user.is_authenticated %}
              <p>{{ message }}</p>
              <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input type="submit" value="Submit" id="submitRate">
              </form>
              {% endif %}
            <h3>Do you want to show your opinion?</h3>
            <textarea placeholder="Your opinion:"></textarea>
            <br>
            <input type="submit" value="Submit">
          </div>
    </div>
    {% if note.content_file %}
    <script>
//Script coppied from https://mozilla.github.io/pdf.js/examples/


// If absolute URL from the remote server is provided, configure the CORS
// header on that server.
var url = "{{ note.content_file.url }}";

// Loaded via <script> tag, create shortcut to access PDF.js exports.
var pdfjsLib = window['pdfjs-dist/build/pdf'];

// The workerSrc property shall be specified.
pdfjsLib.GlobalWorkerOptions.workerSrc = '//mozilla.github.io/pdf.js/build/pdf.worker.js';

var pdfDoc = null,
    pageNum = 1,
    pageRendering = false,
    pageNumPending = null,
    scale = 0.8,
    canvas = document.getElementById('the-canvas'),
    ctx = canvas.getContext('2d');

/**
 * Get page info from document, resize canvas accordingly, and render page.
 * @param num Page number.
 */
function renderPage(num) {
  pageRendering = true;
  // Using promise to fetch the page
  pdfDoc.getPage(num).then(function(page) {
    var viewport = page.getViewport({scale: scale});
    canvas.height = viewport.height;
    canvas.width = viewport.width;

    // Render PDF page into canvas context
    var renderContext = {
      canvasContext: ctx,
      viewport: viewport
    };
    var renderTask = page.render(renderContext);

    // Wait for rendering to finish
    renderTask.promise.then(function() {
      pageRendering = false;
      if (pageNumPending !== null) {
        // New page rendering is pending
        renderPage(pageNumPending);
        pageNumPending = null;
      }
    });
  });

  // Update page counters
  document.getElementById('page_num').textContent = num;
}

/**
 * If another page rendering in progress, waits until the rendering is
 * finised. Otherwise, executes rendering immediately.
 */
function queueRenderPage(num) {
  if (pageRendering) {
    pageNumPending = num;
  } else {
    renderPage(num);
  }
}

/**
 * Displays previous page.
 */
function onPrevPage() {
  if (pageNum <= 1) {
    return;
  }
  pageNum--;
  queueRenderPage(pageNum);
}
document.getElementById('prev').addEventListener('click', onPrevPage);

/**
 * Displays next page.
 */
function onNextPage() {
  if (pageNum >= pdfDoc.numPages) {
    return;
  }
  pageNum++;
  queueRenderPage(pageNum);
}
document.getElementById('next').addEventListener('click', onNextPage);

/**
 * Asynchronously downloads PDF.
 */
pdfjsLib.getDocument(url).promise.then(function(pdfDoc_) {
  pdfDoc = pdfDoc_;
  document.getElementById('page_count').textContent = pdfDoc.numPages;

  // Initial/first page rendering
  renderPage(pageNum);
});
</script>
    {% else %}
    <!---TODO: Add displaying note text content--->
    {% endif %}
    <script src="{% static 'js/rating_script.js' %}"></script>
{% endblock %}