p{
    font-weight: bold;
}

#profile_div {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5.5vw;
}

#profile_div img{
    border-radius: 50% 50%;
}

#bio-div{
    width: 60%;
    max-width: 700px;
    text-align: justify;
}

#user-edit{
    color: #cb45f7;
    text-decoration: none;
}

#user-edit:hover{
    opacity: 0.5;
}

#notes_div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#create_note{
    color: #cb45f7;
    text-decoration: none;
}

#create_note:hover{
    opacity: 0.5;
}

.note{
    margin-left: 25px;
    text-align: center;
}

.note a{
    color: black;
    text-decoration: none;
    font-weight: 750;
}

.note a:hover{
    opacity: 0.75;
}

.note img{
    width: 300px;
    height: 300px;
    border-radius: 2%;
}


#navig-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#logo{
    height: 220px;
}

#logo-a{
    margin-right: auto;
}

#navig-div a{
    text-decoration: none;
    font-size: 30px;
}

#navig-links a{
    margin-right: 20px;
    color: #cb45f7;
}

#navig-links a:hover{
    opacity: 0.5;
}

#following_span a{
    text-decoration: none;
    color: black;
}

#following_span a:hover{
    opacity: 0.5;
}

#show_pages{
    text-align: center;
}

.endless_page_current{
    font-size: 20px;
}

.endless_page_link{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.endless_page_link:hover{
    opacity: 0.5;
}

@media screen and (max-width: 500px){
    #notes_div{
        display: flex;
        justify-content: center;
    }

    .endless_page_current{
        font-size: 30px;
    }

    .endless_page_link{
        color: black;
        text-decoration: none;
        font-size: 30px;
    }
}