{% extends 'base.html' %}
<!--
TODO: Dodaj ikone search do "search bara"!
--->
{% load static %}
{% load own_filters %}
{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/feed.css' %}">
{% endblock %}
{% block body_block %}
    <nav>
        <div id="nav-cont">
            <img src="{%static "images/cover.svg"%}" width="370" id='logo'>
            <div id='nav-links'>
                <a href="{% url 'search:note_search' %}">Find notes</a>
                {%if user.is_authenticated%}
                    <a href="{% url 'profile' pk=user.pk%}">Hello {{user.username}}</a>
                    <a href="{% url 'accounts:logout' %}" id="logInA"><i style="margin-right: 10px" class="fas fa-sign-out-alt"></i>Logout</a>
                {%else%}
                    <a href="{%url 'accounts:login'%}" id='logInA'><i style="margin-right: 10px" class="fas fa-sign-in-alt"></i>Login</a>
                    <a href = "{% url 'accounts:register' %}" id='signUpA' ><i style="margin-right: 10px" class="fas fa-user-plus"></i>Signup</a>
                {%endif%}
            </div>
        </div>
    </nav>
    <main>
    {% if user.is_authenticated %}
        <div class="feed_div">
    {% for friend in friends %}
            <div class="feed_section">
            {% if friend|check_user %}
                <h1 class="feed_header"><a href="{% url 'profile' pk=friend.pk %}" class="note_profile_link">{{ friend.display_name }}</a> notes </h1>
                {% for note in friend|check_user  %}
                <a href="{% url 'notes:detail_note' slug=note.slug %}" class="note_link">
                    <div class="feed_note">
                        <h2 class="note_title">{{ note.title }}</h2>
                        <h3 class="note_rating">Rating: {{ note.rating }}</h3>
                        <br>
                        <img class="note_thumbnail" src="{{ note.thumbnail.url }}" alt="Note '{{ note.title }} can't be rendered'">
                    </div>
               </a>
                {% endfor %}
            {% endif %}
            </div>
    {% endfor %}
        </div>
    {% endif %}
    </main>

{% endblock %}