{% extends 'base.html' %}
<!--
TODO: Dodaj ikone search do "search bara"!
--->
{% load static %}
{% block body_block %}
    <nav>
        <div id="nav-cont">
            <img src="{%static "images/cover.svg"%}" width="370" id='logo'>
            <div id='nav-links'>
                <input type="text" id='searchInput' placeholder="Search" autocomplete="off">
                {%if user.is_authenticated%}

                    <a href="{% url 'profile' username=user.username%}">Hello {{user.username}}</a>
                    <a href="{% url 'accounts:logout' %}" id="logInA">Logout</a>

                {%else%}

                    <a href="{%url 'accounts:login'%}" id='logInA'>Login</a>
                    <a href = {% url 'accounts:register' %} id='signUpA'>Signup</a>

                {%endif%}
            </div>
        </div>
    </nav>

{% endblock %}