{% extends 'base.html' %}
{% load static %}
{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block body_block %}
    <nav>

        <div id="navig-div">
            <a href="{% url 'index' %}" id="logo-a"><img src="{%static "images/cover.svg"%}" width="370" id='logo'></a>
            <div id="navig-links">
                <a href="#">Find notes</a>
                <a href="{% url 'information' %}">Informations</a>
            </div>
        </div>

    </nav>
    <div id="profile_div">
        {% if user_profile.profile_pic %}
            <img src={{ user_profile.profile_pic.url }} width="200" height="200" alt="Profile picture ">
        {% endif %}
        {% if user.username == user_profile.username %}
        <h1>{{ user_profile.display_name }}  <a id="user-edit" href="{% url 'profile_update' pk=user.pk%}"><i class="fas fa-user-edit"></i></a></h1>
        {% else %}
        <h1>{{ user_profile.display_name }}</h1>
        {% endif %}
            {% if user.bio %}
            <h2>About me:</h2>
            <div id="bio-div">
                <p>{{ user_profile.bio|linebreaksbr }}</p>
            </div>
            {% else %}
            <h2>User has not provided BIO</h2>
            {% endif %}
    </div>
        <h1>My notes: <a id='create_note' href="{% url 'notes:create_note' %}"><i class="fas fa-plus"></i></a></h1>
        {% if notes %}
        <div id="notes_div">
        {% for note in notes %}
            <div class="note">
            <a href="#">
                <h1>{{ note.title }}</h1>
                <img src="{{ note.thumbnail.url }}" alt="Note '{{ note.title }}' can't be rendered exist">
            </a>
            </div>
        {% endfor %}
        </div>
        {% endif %}
{% endblock %}

