{% extends 'base.html' %}
{% block head_block %}
{% load  static %}
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
{% endblock %}
{% block body_block %}
    <div id="inputDiv">
            <form method="POST" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <br>
            <a href="{% url 'accounts:change_password' %}">Change password</a>
            <br>
            <input type="submit" value="Update">
        </form>

    </div>
{% endblock %}